/* styles.scss (src/components/MyScene) */

/* IMPORT */
@import '../../scss/base.scss';

/* CONTAINER */
#MyScene-container {
    height: 600px;
    width: 600px;
    padding: 0;
    margin: 0;
    border: 1px solid blue;
}

#MyScene-wrap {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


